# My Data Analysis

In [1]:
import pandas as pd 
import numpy as np
import time

In [7]:
# 
uwb_raw = "../data/bielefeld_dataset/uwb_raw_data/downSample_uwb_FullDataSet.txt"
bielefeld_data = pd.read_csv(uwb_raw)
bielefeld_data.head()

,Dist,FP,FPAmp1,FPAmp2,FPAmp3,CIR,stdN,maxN,preamCnt,RSS_CIR,RSS_FP,powerDiff,Label
0,3.09,47631,2336,2218,1849,350,28,721,123,-92.140816,-86.922323,5.218493,1
1,5.25,47854,2240,2268,1529,346,28,707,123,-92.569257,-86.972242,5.597015,1
2,6.05,47734,2190,1980,1201,297,12,301,122,-93.398729,-87.564533,5.834196,1
3,14.08,47692,805,1741,1606,163,12,249,123,-95.573509,-90.241127,5.332382,1
4,1.10,47666,2427,2404,1543,359,16,445,123,-92.061217,-86.812058,5.249159,1

In [8]:
anchor_metal = "../data/identification-dataset/nlos/anAn/metal/data1/metal-anAn-data1_data.csv"
data = pd.read_csv(anchor_metal)
data.head()

,tdoa12,tdoa21,snr_an1,power_dif_an1,snr_an2,power_dif_an2,an1_rx_snr,an1_rx_powerdif,an1_tof,an2_rx_snr,an2_rx_powerdif,an2_tof
0,-0.112602,0.220513,119.031250,11.548676,148.333328,11.746056,45.049999,23.353745,5.196789,35.250000,22.573402,5.178022
1,-0.164212,0.140753,150.357147,11.167908,136.142853,11.879990,29.583334,24.532982,5.187406,39.250000,23.520226,5.178022
2,-0.037534,0.117294,123.187500,11.339127,125.857140,11.682205,42.049999,23.920013,5.126413,40.700001,23.999695,5.187406
3,-0.037534,0.117294,123.187500,11.339127,152.333328,11.851372,33.875000,24.098022,5.192098,41.799999,22.996468,5.154563
4,-0.197054,0.192362,144.500000,11.113533,138.000000,11.928688,42.549999,23.576332,5.131104,40.299999,23.636536,5.131104

In [10]:
tag_metal = "../data/identification-dataset/nlos/anTag/metal/data1/metal-anTag-data1_data.csv"
data = pd.read_csv(tag_metal)
data.head()

,tdoa12,tdoa21,snr_an1,power_dif_an1,snr_an2,power_dif_an2,an1_rx_snr,an1_rx_powerdif,an1_tof,an2_rx_snr,an2_rx_powerdif,an2_tof
0,-0.319040,0.380033,24.450001,23.648659,153.833328,11.635933,132.000000,14.551033,5.037270,168.541672,13.384590,5.018502
1,-0.319040,0.380033,24.450001,23.648659,162.750000,11.179535,172.666672,14.281364,5.056036,176.125000,13.252098,5.041961
2,-0.319040,0.319040,14.928572,25.917366,162.750000,11.179535,203.149994,14.264801,5.088879,148.850006,13.729012,5.065420
3,-0.464485,0.319040,20.607143,26.443871,187.500000,11.430855,159.000000,13.419594,5.084187,174.600006,13.297188,5.056036
4,-0.300273,0.323732,26.416666,25.613457,161.416672,11.633659,226.899994,13.669937,5.060728,195.600006,13.437340,5.051345